In [17]:
from __future__ import print_function, division
from builtins import range

In [18]:
import numpy as np
import pandas as pd
from scipy import stats

In [19]:
# get data
df = pd.read_csv('./advertisement_clicks.csv')

In [20]:
df.columns

Index(['advertisement_id', 'action'], dtype='object')

In [22]:
df.head()

  advertisement_id  action
0                B       1
1                B       1
2                A       0
3                B       0
4                A       1

In [23]:
a = df[df['advertisement_id'] == 'A']
b = df[df['advertisement_id'] == 'B']

In [25]:
a = a['action']
b = b['action']

In [27]:
a.shape

(1000,)

In [9]:
print("Mean of a: ", a.mean())
print("Mean of b: ", b.mean())

Mean of a:  0.304
Mean of b:  0.372

In [10]:
# Built-in t-test
t, p = stats.ttest_ind(a, b)
print("t:\t", t, "p:\t", p)

t:	 -3.2211732138019786 p:	 0.0012971905467125246

In [12]:
# Welch's t-test:
t, p = stats.ttest_ind(a, b, equal_var=False)
print("Welch's t-test:")
print("t:\t", t, "p:\t", p)

Welch's t-test:
t:	 -3.2211732138019786 p:	 0.0012972410374001632

In [13]:
# Welch's t-test manual:
N1 = len(a)
s1_sq = a.var()
N2 = len(b)
s2_sq = b.var()
t = (a.mean() - b.mean())/np.sqrt(s1_sq/N1 + s2_sq/N2)

In [16]:
nu1 = N1 - 1 
nu2 = N2 - 1
df = (s1_sq/N1 + s2_sq/N2)**2 / ((s1_sq*s1_sq) / (N1*N1*nu1) + (s2_sq*s2_sq) / (N2*N2*nu2))
p = (1 - stats.t.cdf(np.abs(t), df=df))*2
print("Manual Welch t-test")
print("t:\t", t, "p:\t", p)

Manual Welch t-test
t:	 -3.221173213801983 p:	 0.001297241037400143